@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* body {
  display: block;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
} */

.btn {
  @apply rounded-lg m-2 px-5 py-2
}

.container {
  min-height: calc(100vh - 64px);
}

html {
  transition: all .5s ease-in-out;
}

body {
  overflow-x: hidden;
}


.theme-btn:hover {
  transition: all 1s cubic-bezier(.2, 1.14, .57, .4);
  rotate: 1turn;
  scale: 105%;
}

.container>* {
  box-shadow: 0 0 15px #0002;
}

.todo__container {
  box-shadow: none;
}