.login__container {
    width: clamp(400px, 50vw, 500px);
}

input[type='text'] {
    width: 100%;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .login__container {
        width: 80vw;
    }
}

@media only screen and (max-width: 576px) {
    .login__container {
        width: 95vw;
    }
}